extends layout 

block main-content 
  //You can overwrite the main-content block by writing block content
  //in the template file which is extending.
  h1.page-title Hello! 
  each m in movies 
    div 
      h2 #{m.movie.title} (#{m.movie.year})
      p Rated: #{m.movie.certification}
      p #{m.movie.overview}
      div
        a(href=`/movie/${m.movie.ids.imdb}/studios`) View studios

  